#fullName{
    margin-left: 9.9%;
}
#gender{
    margin-left: 12.5%;
}
#birthDate{
    margin-left: 10%;
}
#birthPlace{
    margin-left: 9.7%;
}
#weight{
    margin-left: 4.7%;
}
#height{
    margin-left: 5%;
}
#allergies{
    margin-left: 11.4%;
}
#medicalRecords{
    margin-left: 4.3%;
}
#bornDiseases{
    margin-left: 6.5%;
}
#vaccinesGiven{
    margin-left: 5.5%;
}
#parentNic{
    margin-left: 9.5%;
}
.Button{
    margin-left: 37%;
}
.cover{
    width: 79%;
    height: 50%;
    margin-left: 10%;
    border-radius: 30px;
}