#name{
    margin-left: 7.9%;
}
#weight{
    margin-left: 3.3%;
}
#height{
    margin-left: 3.4%;
}
#allergies{
    margin-left: 9.1%;
}
#medicalRecords{
    margin-left: 2.7%;
}
#parentNic{
    margin-left: 7.9%;
}
.Button{
    margin-left: 37%;
}