/* details.css */

/* Container Styling */
.containe {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3f0e8;
}

/* Card Styling */
.cove {
  
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
  background-color: #55c1f4;
}

/* Title Styling */
#tilt {
  font-size: 30px;
  font-weight: bold;
  color: #d05015;
  margin-bottom: 20px;
}

/* User Details Styling */
.user-details {
  font-size: 18px;
  color: #0be341;
}

#details {
  margin: 10px 0;
  padding: 8px;
  background-color: #d0edf5;
  border-radius: 5px;
}

/* No User Details Message */
.cove p {
  font-size: 17px;
  color: #0bab43;
  margin-top: 20px;
}
