.third{ 
    height:'100%';
    background-image: linear-gradient(rgb(79, 178, 223),white);   
}

.text{
    margin-left: 30%;
    font-weight: bold;
    font-size: 30px;
    color: rgb(232, 230, 245);
}

.cover{
    width:75%;
    height: 50%;
    margin-left: 15%;
    border-radius: 30px;
    background-image:  linear-gradient(rgb(9, 135, 160),rgb(105, 229, 243));
}

.ftext{
    font-size: 21px;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(14, 14, 14);
    position: relative;
    font-weight: 900;
    margin-left: 5%;
}

.fbox{
    position: relative;
    width: 70%;
    background-color: rgb(220, 213, 202);
   
}
.fbox:active{
    width: 71%;
}
.box{
    margin-left: 10%;
}

#n{
    margin-left: 7%;
}

