.third{ 
    height:'100%';
    background-image: linear-gradient(rgb(79, 178, 223),white);   
}

.text{
    margin-left: 30%;
}

.cover{
    width: 79%;
    height: 50%;
    margin-left: 15%;
    border-radius: 30px;
}
  
.Button{
    padding: 10px 20px;
    
}


.ftext{
    font-size: 19px;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(15, 15, 15);
    position: relative;
}

.fbox{
    position: relative;
    width: 60%;
    background-color: rgb(220, 213, 202);
}
.box{
    margin-left: 5%;
}

#n{
    margin-left: 13px;
}
#N{
    margin-left: 45px;
}
#E{
    margin-left: 53px;
}
#S{
    margin-left: 10px;
}
#password{
    margin-left: 15px;
}
#userName{
    margin-left: 7px;
}

